h3{
    color: green;

}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.FSD{
    color: rgb(168, 95, 43);
}
#id1{
     color: blue;

}
#id2{
    color: rosybrown;
}